<br>
<section class="firstsection">
    <div class="box-main">
        <div class="firstHalf">
            <h1 class="text-big" id="web">Computer Science Department</h1>
            <p class="text-small">Computer science involves the study of computation, automation, and information.Computer science spans
                theoretical disciplines (such as algorithms, theory of computation, and information theory) to practical
                disciplines (including the design and implementation of hardware and software). Computer science is
                generally considered an area of academic research and distinct from computer programming.</p>
            <a href="https://en.wikipedia.org/wiki/Computer_science">Click here for more information</a>
        </div>
    </div>
</section>

<section class="secondsection">
    <div class="box-main">
        <div class="firstHalf">
            <h1 class="text-big" id="program">Information Technology</h1>
            <p class="text-small">
                Information technology (IT) refers to everything that businesses use computers for. Information technology is
        building communications networks for a company, safeguarding data and information, creating and administering
        databases, helping employees troubleshoot problems with their computers or mobile devices, or doing a range of
        other work to ensure the efficiency and security of business information systems. Demand for professionals in
        this field is high and growing, and people entering the field have a range of career paths to choose from.</p>
        <a href="https://www.snhu.edu/about-us/newsroom/stem/what-is-information-technology">Click here for more information</a>
        </div>
    </div>
</section>
<br>