* {
    margin: 0;
    padding: 0;
}

.firstsection {
    background-color: #6b5b95;
    height: 400px;
}

.secondsection {
    background-color: #feb236;
    height: 400px;
}

.box-main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    max-width: 80%;
    margin: auto;
    height: 80%;
}

.firsthalf {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-big {
    font-family: 'Piazzolla', serif;
    font-weight: bold;
    font-size: 35px;
}

.text-small {
    font-size: 18px;
}

.section {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d64161;
}

.center {
    text-align: center;
}